<div>
  <div>
    <h1>
      Email #<%= @the_email.id %> details
    </h1>

    <div>
      <div>
        <a href="/emails">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_email/<%= @the_email.id %>">
          Delete email
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Receiver name
      </dt>
      <dd>
        <%= @the_email.receiver_name %>
      </dd>

      <dt>
        Receiver email
      </dt>
      <dd>
        <%= @the_email.receiver_email %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_email.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_email.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit email
    </h2>

    <form action="/modify_email/<%= @the_email.id %>"  method="post" >
      <div>
        <label for="receiver_name_box">
          Receiver name
        </label>

        <input type="text" id="receiver_name_box" name="query_receiver_name" value="<%= @the_email.receiver_name %>">
      </div>

      <div>
        <label for="receiver_email_box">
          Receiver email
        </label>

        <input type="text" id="receiver_email_box" name="query_receiver_email" value="<%= @the_email.receiver_email %>">
      </div>

      <button>
        Update email
      </button>
    </form>
  </div>
</div>

<hr>
